<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:group {"align":"wide","layout":{"inherit":false}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:columns {"style":{"spacing":{"padding":{"top":"64px","bottom":"64px"}}}} -->
		<div class="wp-block-columns" style="padding-top:64px;padding-bottom:64px">
			<!-- wp:column -->
			<div class="wp-block-column">
				<!-- wp:heading {"level":1,"fontSize":"heading-4"} -->
				<h1 class="has-heading-4-font-size" id="page-not-found-1">Page Not Found</h1>
				<!-- /wp:heading -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"style":{"spacing":{"blockGap":"32px"}}} -->
			<div class="wp-block-column">
				<!-- wp:paragraph {"fontSize":"heading-4"} -->
				<p class="has-heading-4-font-size">The page you are looking for could not be found. It might have been
					deleted, renamed, or it did not exist in the first place. You can search the site below, or return
					to the front page.</p>
				<!-- /wp:paragraph -->

				<!-- wp:search {"label":"Search...","width":600,"widthUnit":"px","buttonText":"Search","buttonUseIcon":true} /-->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer","layout":{"inherit":true}} /-->