<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"bottom":"0px"}}}} -->
<div class="wp-block-columns alignwide" style="margin-bottom:0px"><!-- wp:column {"width":"23%","className":"site-sidebar-col"} -->
<div class="wp-block-column site-sidebar-col" style="flex-basis:23%"><!-- wp:template-part {"slug":"sidebar","tagName":"aside","className":"site-sidebar"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"77%","style":{"spacing":{"blockGap":"var:preset|spacing|70"}}} -->
<div class="wp-block-column" style="flex-basis:77%"><!-- wp:group {"style":{"spacing":{"blockGap":".25em"}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary","fontSize":"heading-5"} /-->

<!-- wp:post-title {"textAlign":"left","level":1} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}}} /-->

<!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"textColor":"primary","spacing":{"blockGap":"0.5em"}},"textColor":"secondary","className":"has-primary-color has-text-color","layout":{"type":"flex","orientation":"vertical","justifyContent":"left","flexWrap":"nowrap"},"fontSize":"small"} -->
<div class="wp-block-group has-primary-color has-text-color has-secondary-color has-small-font-size"><!-- wp:group {"style":{"spacing":{"blockGap":"0.25em"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>In</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:group -->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","className":"comments"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"2em","padding":{"top":"var:preset|spacing|70"}}}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70)"><!-- wp:separator {"backgroundColor":"tertiary","className":"is-style-bjork-angled-separator-wide"} -->
<hr class="wp-block-separator has-text-color has-tertiary-color has-alpha-channel-opacity has-tertiary-background-color has-background is-style-bjork-angled-separator-wide"/>
<!-- /wp:separator -->

<!-- wp:query-pagination {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"className":"alignwide","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:post-navigation-link {"type":"previous","showTitle":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}}} /-->

<!-- wp:post-navigation-link {"showTitle":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}}} /-->
<!-- /wp:query-pagination -->

<!-- wp:separator {"backgroundColor":"tertiary","className":"is-style-bjork-angled-separator-wide"} -->
<hr class="wp-block-separator has-text-color has-tertiary-color has-alpha-channel-opacity has-tertiary-background-color has-background is-style-bjork-angled-separator-wide"/>
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->